.content {
		margin-top:100px;
    a {
        display: block;
        width: 270px;
        height: 129px;
        margin: 0 auto;
        background: url("http://ocq2u27lk.bkt.clouddn.com/fekit/baidu/picbd_logo1.png") no-repeat;
        background-size: cover;
    }
    .search {
    	position:relative;
    	margin-top:22px;
    	text-align:center;
        span {
        	:after{
        		clear:both;
        		display:block;
        		height:0;
        		content:"";
        	}
            display: inline-block;
            position:relative;
            width: 539px ;
            border: 1px solid #b6b6b6;
            vertical-align: top;
            height:34px;
            input {
        			float:left;
            	margin-top:7px;
            	margin-left:6px;
                width: 500px;
                height: 22px;
                border: none;
                outline:0;
            }
            i{
            	width: 18px;
            	height: 16px;
            	margin-top:10px;
            	margin-right:10px;
            	float:right;
            	cursor:pointer;
            	background:url("http://ocq2u27lk.bkt.clouddn.com/fekit/baidu/piccamera_new_679c15cc.png") no-repeat;
            	&:hover{
            		background-position: 0 -20px;
            	}
            }
             .search_hz{
            	position:absolute;
            	right:-100px;
            	width:100px;
            	height:36px;
            	top:-1px;
            	line-height:36px;
            	color: white;
            	font-size:15px;
        		cursor:pointer;
            	background: #3385ff;
            	letter-spacing: 1px;
            }

        }

    }
    .footer{
    	background:url("http://ocq2u27lk.bkt.clouddn.com/fekit/baidu/picfoot.png") no-repeat;
    	height:102px;
    	width:684px;
    	margin:0 auto;
    	margin-top:300px;
    }
}
